
/* ================= TABLE ================= */
.user-container {
  padding: 20px;
  width: 100%;
}

/* CONTROLS */
.user-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.search-box {
  flex: 1;
}

.search-box input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#qtyInput {
  width: 90px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* BUTTONS */
.btn {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.add-btn {
  background: #4ecdc4;
  color: white;
}

.refill-btn {
  background: #a50071;
  color: white;
}

.print-btn {
  background: #5f6caf;
  color: white;
}

/* TABLE */
.table-wrapper {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: auto;
  max-height: 65vh;
  position: relative;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
}

thead {
  position: sticky;
  background: #9A0303;
  color: white;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #9A0303;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#thfullname {
   width: 300px !important;
}

#tdfullname {
  width: 300px !important;
}
tfoot {
  background: #f4f4f4;
  font-weight: bold;
}

tfoot td {
  position: sticky;
  bottom: 0;
  background: #f4f4f4;
  z-index: 100;
  font-weight: bold;
}

.user-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
