/* ========== GLOBAL ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(180deg, #EF9B74 0%, #ffffff 75%);
  padding: 20px;
}

.wrapper {
  display: flex;
  gap: 120px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* ========== LEFT CARD ========== */
.clinic-card {
  width: 650px;
  max-width: 90vw;
  height: 650px;
  max-height: 90vh;
  background: #ffffff;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow:
    15px 15px 30px rgba(0, 0, 0, 0.15),
    -10px -10px 20px rgba(255, 255, 255, 0.575);
}

.logo-box {
  width: 380px;
  max-width: 70vw;
  height: 380px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  
}

.logo-box span {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.logo-box img {
  width: 480px;
  height: 480px;
  margin-bottom: -5%;
  filter: drop-shadow(3px 6px rgba(0, 0, 0, 0.2));
}

.clinic-card h1 {
  font-size: 60px;
  color: #B80201;
  letter-spacing: 2px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.clinic-card h3 {
  font-size: 20px;
  color: #ff7547;
  letter-spacing: 2px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

/* ========== RIGHT CARD ========== */
.login-card {
  width: 500px;
  max-width: 90vw;
  height: 520px;
  max-height: 90vh;
  padding: 50px 40px;
  background: rgba(255, 255, 255, 0.457);
  border-radius: 40px;
  text-align: center;

  box-shadow:
    15px 15px 30px rgba(0, 0, 0, 0.15),
    -10px -10px 20px rgba(218, 217, 217, 0.664);
}

.login-card h2 {
  font-size: 40px;
  color: #B80201;
  margin-top: 20px;
  margin-bottom: 50px;
  letter-spacing: 2px;

  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 16px;
  margin-bottom: 30px;
  border: none;
  border-radius: 18px;
  font-size: 18px;
  background: #f2f2f2;
  outline: none;

  box-shadow:
    6px 6px 12px rgba(0, 0, 0, 0.15),
    -4px -4px 10px rgba(255, 255, 255, 0.7);
}

/* Button */
.login-card button {
  width: 200px;
  padding: 16px;
  border: none;
  border-radius: 18px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #B80201;
  cursor: pointer;
  margin-top: 20px;

  box-shadow:
    6px 6px 12px rgba(0, 0, 0, 0.2),
    -3px -3px 8px rgba(255, 255, 255, 0.4);

  transition: 0.2s ease;
}

.login-card button:hover {
  transform: translateY(-3px);
}

.login-link {
  color: white;
  text-decoration: none;
}



/* ================= RESPONSIVE ================= */

@media (max-width: 1200px) {
  .wrapper {
    gap: 60px;
  }
  .clinic-card,
  .login-card {
    height: auto;
  }
  .clinic-card h1 {
    font-size: 36px;
  }
  .logo-box {
    height: 300px;
    margin-bottom: 40px;
  }
  .logo-box span {
    font-size: 36px;
  }

  .logo-box img {
    width: 300px;
    height: 300px;
  }
  .login-card h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .clinic-card,
  .login-card {
    width: 90vw;
    max-width: 400px;
    padding: 20px;
  }
  .logo-box {
    width: 80%;
    height: 250px;
    margin-bottom: 30px;
  }
  .logo-box span {
    font-size: 28px;
  }
  .clinic-card h1 {
    font-size: 28px;
  }
  .login-card h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .login-card input {
    padding: 14px;
    font-size: 16px;
    margin-bottom: 25px;
  }
  .login-card button {
    width: 100%;
  }
    .logo-box img {
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    gap: 20px;
  }
  .logo-box {
    height: 200px;
  }
  .logo-box span {
    font-size: 24px;
  }
  .clinic-card h1 {
    font-size: 24px;
  }
  .login-card h2 {
    font-size: 22px;
  }
  .login-card input {
    padding: 12px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .login-card button {
    font-size: 18px;
    padding: 14px;
  }
}
